<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MVC Login</h1>
    <%=message%>
    <form method="post" action="/verify">
      <p>
        name：<input type="text" id="username" name="username" /><br/>
        password：<input type="password" id="password" name="password" />
      </p>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
